/*
Theme Name: Krysiak Foto
Theme URI: http://krysiakfoto.pl;
Description: Motyw stworzony na potrzeby strony krysiakfoto.pl -  <b>Wszelkie prawa zastrzeżone ® 2018</b>
Version: 1
Author: Kordian Sasiela
Author URI: http://www.kordit.pl
*/
@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700');
/* General
************************************************/
body
{
    background: #fff;
}
header
{
    background-color: #fff;
}
.view {
    max-height: 100%;
}
header > *
{
    font-family: 'Asap', sans-serif;
}
main
{
    height: auto;
}
h1, h2, h3, h4, h5, header > *
{
    font-family: 'Jura', sans-serif;
}
.flex-v-center
{
    display: flex;
    align-items: center;
}
.flex-h-center
{
    display: flex;
    justify-content: center;
}
.flex-v-bottom
{
    display: flex;
    align-items: bottom;
}
.handwritten {
    font-family: 'Tangerine', cursive;
    font-style: italic;
    font-size: 2.5em;
    text-align: right;
}
section
{
    padding-top:50px;
    padding-bottom: 20px;
    position: relative;
    min-height: 100px;
}
section:first-child
{
    padding:0px;
}
h3.title-section {
    font-size: 2em;
    font-weight: 600;
    max-width: 30%;
}
/*h3.title-section:after {
    content: "";
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 3px;
    background: #ec407a;
    }*/
    h4.desc-section {
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 15px;
    }
/* Header
************************************************/
.mobile-menu
{
    display: none;
}
#open-window
{
    display: none;
}
.navbar .nav-item .nav-link
{
    padding:0px;
}
.mobile-menu ul li
{
    margin-bottom: 20px;
}
#navbarSupportedContent-7
{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li#menu-item-21:before
{
    content: "| ";
    float: left;
    font-size: 25px;
    margin: -5px 40px;
    color:#ccc;
    font-weight: 300;
    margin-left: 0px;
}
header .menu-menu-1-container ul li a
{
    color: #333;
    font-size: 16px;
}
header .menu-menu-1-container ul li.menu-item-21 a
{
    color: #18386a;
}
header .menu-menu-1-container ul li
{
    margin-left: 35px;
}
header .bottom-line
{
    padding-bottom: 10px;
    width: 100%;
    display: flex;
}
nav.navbar.navbar-expand-lg.my-navbar
{
    box-shadow: none;
}
header {
    position: relative;
    width: 100%;
    z-index: 10;
    top:0;
}
body:not(.home) h3.title-section
{
    font-size: 2em;
    font-weight: 600;
    max-width: 100%;
}
body:not(.home) h3.title-section:after
{
    font-size: 2em;
    font-weight: 600;
    height: 0px !important;
}
body:not(.home) header
{
    position: relative !important;
}
body.blog h3.title-section
{
    font-size: 2em;
    font-weight: 600;
    max-width: 15%;
}
#cta h3.title-section
{
    font-size: 2em;
    font-weight: 600;
    max-width: 100%;
}
header .dropdown:hover>.dropdown-menu {
    background: rgba(255,255,255,.7);
    display: block;
    border: none;
}
header ul.dropdown-menu.depth_0 {
    width: max-content;
    padding: 0px;
}
header .navbar .navbar-brand {
    align-self: flex-start;
    overflow: visible;
    width: 250px;
    height: auto;
    margin: auto;
}
header .navbar .navbar-brand img {
    width: 100%;
    margin: 0px;
}
.menu-glowna-nawigacja-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
header ul#menu-glowna-nawigacja li {
    margin: 0px 10px;
}
header ul#menu-glowna-nawigacja li.current-menu-item a
{
    font-weight: 500;
}
header ul#menu-glowna-nawigacja li:after
{
    content: "";
    width: 0%;
    height: 2px;
    background: #fc2d8f;
    display: block;
    transition-duration: .5s;
}
header ul#menu-glowna-nawigacja li:hover:after
{
    content: "";
    width: 100%;
    height: 2px;
    background: #fc2d8f;
    display: block;
    transition-duration: .5s;
}
header ul#menu-glowna-nawigacja li a {
    font-weight: 300;
    text-transform: uppercase;
    color: black;
    font-size: .95em;
    text-align: center;
}
header ul.dropdown-menu.depth_0 li {
    display: flex;
    padding: 10px;
    margin: 0px !important;
    border-bottom: solid 1px #e9e6e6;
    transition-duration: .5s;
    background: transparent;
    align-items: center;
}
header ul.dropdown-menu.depth_0 li:hover {
    background: rgba(255,255,255,.85);
    border-bottom: solid 1px #fc2d8f;
    transition-duration: .5s;
}
header ul.dropdown-menu.depth_0 li:hover:after
{
    width: 0% !important;
}
header ul.dropdown-menu.depth_0 li a {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
/* Slider
************************************************/
#home-1 {
    width: 100%;
}
#home-1 img{
    width: 100%;

}
#home-1 .view:hover img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition-duration: .5s;
}
#home-1 .slider-content {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#home-1 .slider-content h3 {
    font-size: 2.75em;
    font-weight: 600;
}
#home-1 .slider-content p {
    margin-bottom: 30px;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 400;
    color: #ec407a;
}
#home-1 .gradient-trans {
    position: absolute;
    width: 100%;
    height: 75px;
    background: linear-gradient(transparent, #fff);
    display: block;
    z-index: 10;
    bottom: 0;
}
#home-1 .scroll-down {
    position: absolute;
    width: 100%;
    bottom: 80px;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: rgba(0,0,0,.5);
    transition-duration: .5s;
    z-index: 11;
    padding:30px;
}
#home-1 .scroll-down:hover {
    color: rgba(0,0,0,.85);
    transition-duration: .5s;
}
/* O mnie
************************************************/
#o-mnie
{
    padding-bottom: 0px;
    background: #fff;
}
#o-mnie .skillbar {
    font-family: 'Open Sans', 'sans-serif';
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}
#o-mnie .thumbnail
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
#o-mnie .human {
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    transition-duration: .5s;
    background-size: contain;
}
#o-mnie .human-1
{
    background-image: url(http://krysiakfoto.pl/wp-content/uploads/2018/09/1.jpg);
    transition-duration: .5s;
    background-size: contain;
}
#o-mnie .human-2
{
    background-image: url(http://krysiakfoto.pl/wp-content/uploads/2018/09/2.jpg);
    transition-duration: .5s;
}
#o-mnie .human-2:hover .human-1
{
    display: none;
}
#o-mnie h4.desc-section {
    text-transform: inherit;
    font-style: italic;
    font-weight: 400;
    color: #999;
}
#o-mnie h4 strong {
    display: block;
    color: #333;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-top: 5px;
}
/* Studio
************************************************/
#studio
{
    /* The image used */
    background-image: url("http://krysiakfoto.pl/wp-content/uploads/2018/09/photography-1850469_1920.jpg");
    /* Set a specific height */
    height: 650px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:70px 0px;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 100px #8d8d8d;
}
#studio .inner
{
    background: rgba(255,255,255,.95);
    padding:20px;
    height: -webkit-fill-available;
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    transition-duration: 1s;
}
#studio .inner:hover
{
    transform:scale(.97,5);
    -webkit-transform:scale(.97);
    -moz-transform:scale(.97);
    -o-transform:scale(.97);
    transition-duration: 1s;
}
#studio .content {
    padding: 20px;
    border: solid 1px #ccc;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
}
#studio .content h3, #studio .content p
{
    margin:auto;
    text-align: center;
}
#studio .content h3:after
{
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    background: #fc2d8f;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

#studio .content button
{
    margin:20px 0px;
}
#studio .content .lay-1 {
    border: solid 1px #ccc;
    padding: 10px;
}
/* Oferta
************************************************/
#oferta
{

}
#oferta .content {
    position: relative;
    overflow: hidden;
}
#oferta .content .lay-1
{
    opacity: 1;
    transition-duration: .5s;
}
#oferta .content.show .lay-1
{
    opacity: .25;
    transition-duration: .5s;
}
#oferta .content .lay-2 {
    position: absolute;
    z-index: 16;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition-duration: .5s;
}
#oferta .content .lay-2 svg
{
    font-size: 2em;
    margin-bottom: 10px;
}
#oferta .content.show .lay-2
{
    opacity: 1;
    transition-duration: .5s;
}
#oferta svg path
{
    color:#ec407a;
} 
/* Cta
************************************************/
#cta {
    margin-top:40px;
    text-align: center;
    background-image: url(/wp-content/themes/template/img/cta.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:70px 0px;
}
#cta h3 {
    margin:auto;
}
body:not(.home) #cta h3 {
    margin:inherit;
}
body:not(.home) #cta h3:after {
    height: 0px;
}
/* Blog
************************************************/
#blog
{

}
#blog .post-loop {
    text-align: center;
    margin: auto;
    background: #fff;
    padding:15px;
}
#blog .thumbnail-post
{
    position: relative;
}
#blog .thumbnail-post img
{
    max-width: 100%;
}
#blog .post-date {
    position: absolute;
    bottom: 0px;
    color: #333;
    font-weight: 500;
    background: rgba(255,255,255,.5);
    padding: 10px;
}
#blog .post-loop h3 {
    text-align: center;
    margin: 15px 0px;
    font-weight: 600;
}

/* Kontakt
************************************************/
#kontakt
{

}
#kontakt ul.contact-icons {
    list-style-type: none;
    padding: 0px;
}
#kontakt a
{
    color:#333;
}
#kontakt i
{
    color:#ec407a;
}
#kontakt ul li
{
    margin-bottom: 20px;
}
#kontakt ul li.phone a
{
    display: block;
}
#kontakt ul li.mail a
{
    display: block;
}
#kontakt label {
    width: 100%;
}
#kontakt select {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    border: none;
    background: transparent;
    border-bottom: solid 1px #ccc;
}
#kontakt textarea {
    border: none;
    border-bottom: solid 1px #ccc;
}
#kontakt input[type=submit] {
    background: #ec407a;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-left: 15px;
}

/* Footer
************************************************/

footer
{
    margin-top:30px;
    padding:40px 0px;
}
footer ul li
{
    margin-bottom: 10px;
    transition-duration: .5s;
}
footer ul li:hover
{
    margin-left: 5px;
    transition-duration: .5s;
}
footer ul li a:before
{
    content: "- ";
}
footer ul li a
{
    color:#fff;
    transition-duration: .5s;
}
footer ul li a:hover
{
    color:#ec407a;
    transition-duration: .5s;
}
footer h4:after {
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background: #ec407a;
    margin-top: 10px;
    margin-bottom: 20px;
}

#blog-page .sidebar {
    background: #fff;
    padding: 20px;
    margin-top: 105px;
}

#blog-page .sidebar a {
    color: #333;
}




/* O mnie
************************************************/
#studio-page
{
    padding-bottom: 0px;
}
#studio-page .card
{
    padding:20px;
    padding-bottom: 0px;
}
#studio-page .skillbar {
    font-family: 'Open Sans', 'sans-serif';
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}
#studio-page .thumbnail
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
#studio-page .human {
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    transition-duration: .5s;
    background-size: contain;
}
#studio-page .human-1
{
    background-image: url(http://krysiakfoto.pl/wp-content/uploads/2018/09/1.jpg);
    transition-duration: .5s;
}
#studio-page .human-2
{
    background-image: url(http://krysiakfoto.pl/wp-content/uploads/2018/09/2.jpg);
    transition-duration: .5s;
}
#studio-page .human-2:hover .human-1
{
    display: none;
}
#studio-page h4.desc-section {
    text-transform: inherit;
    font-style: italic;
    font-weight: 400;
    color: #999;
}
#studio-page h4 strong {
    display: block;
    color: #333;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-top: 5px;
}
#studio-page .studio-bg {
    background: #f7f7f7;
    padding: 60px 0px;
    margin-bottom: -40px;
    background-image: url("http://krysiakfoto.pl/wp-content/uploads/2018/09/photography-1850469_1920.jpg");
    background-attachment: fixed;
}
#studio-page .studio-bg .card
{
    padding: 30px;
}
#category-page #oferta .content img {
    height: auto;
    width: 100%;
}
#service-item-page .content-service
{
    padding:20px;
}
#service-item-page .sidebar {
    padding: 15px;
}
#service-item-page .sidebar h4.title-sidebar {
    font-weight: 600;
    text-align: left;
    margin: 30px 0px;
}
#service-item-page .sidebar ul {
    list-style-type: none;
    padding: 0px 10px;
}
#service-item-page .sidebar ul li {
    margin-top: 5px;
}
#service-item-page .sidebar ul li.current-menu-item a {
    color:#ec407a;
}
#service-item-page .sidebar ul li a {
    color: #333;
}
#service-item-page .widget-item {
    border-bottom: solid 1px #ccc;
    margin-bottom: 30px;
}

.thumbnail-service img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
ul.thumbnails.image_picker_selector img {
    max-width: 100%;
    height: auto;
}
ul.thumbnails.image_picker_selector li {
    margin: 0 12px 12px 0;
    float: left;
    width: 48%;
}
.box {
    text-align: center;
    padding: 15px;
    border: solid 1px #ccc;
    background: #fff;
}
.box h1 {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 15px;
}
.box p {
    font-size: 0.8em;
    color: #999;
}
.box ul
{
  list-style-type: none;
  padding: 0px;
  text-align: left;
  margin-left: 20px;
}
.box ul li {
    margin-bottom: 10px;
}
