@media (min-width: 1200px) {
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* Portrait tablets and small desktops */
@media (min-width: 577px) and (max-width: 991px) {
    .navbar-nav
    {
        flex-direction: inherit;
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 576px) {
    h3.title-section
    {
        text-align: center;
        margin: auto;
    }
    .handwritten
    {
        text-align: center;
    }
    .mobile-menu {
        position: fixed;
        width: 0%;
        height: 100vh;
        background: rgba(0,0,0,.8);
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition-duration: .5s;
    }
    .show-menu
    {
        width: 100% !important;
        transition-duration: .5s;
    }
    #close-window {
        font-size: 2.5em;
        color: #fff;
    }
    #open-window {
        display: flex;
        justify-content: flex-end;
        font-size: 3em;
        align-items: center;
    }
    .mobile-menu ul li a
    {
        text-align: center;
    }
    #navbarSupportedContent-7
    {
        display: none;
    }
    .menu-menu-1-container ul li
    {
        margin:0px !important;
    }
    .mobile-menu ul li a
    {
        color:#fff;
        font-size: 1.3em;

    }
    .menu-menu-1-container ul li.menu-item-21 a
    {
        color: #6f93cc;
        font-weight: 800;
    }
    #close-window {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .button-open {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    header .navbar .navbar-brand {
        margin: 0;
        display: block;
        margin-right: auto;
    }
    header .navbar .button-open {
        width: 100%;
        display: flex;
        position: absolute;
        justify-content: flex-end;
        top: 40px;
        right: 0px;
    }
    ul.dropdown-menu.depth_0 {
        margin: 0px;
        padding: 0px;
        background: transparent !important;
        color:#fff !important;
    }
    #studio 
    {
        height: 850px;
    }
    #o-mnie {
        padding-bottom: 0px;
        background: #fff;
        padding: 0px 20px;
        text-align: center;
    }
    h3.title-section {

        max-width: 75%;
    }
    section#kontakt {
        text-align: center;
    }
    section#kontakt input[type=submit]{
        text-align: center;
        margin:auto;
    }
    #kontakt .wpcf7 p {
        display: block;
        margin: auto;
    }
    footer h4:after
    {
        margin:auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #home-1 .slider-content h3 {
        font-size: 2.25em;
        font-weight: 600;
        padding: 20px 10px;
    }
    body:not(.home) #cta h3 {
        margin: auto;
        padding: 0px;
    }
    header ul.dropdown-menu.depth_0 li a {
        width: 100%;
        padding: 0px;
        margin: 0px;
        color: #fff !important;
    }
    header .dropdown:hover>.dropdown-menu {
        display: none;
        margin: auto;
    }
    header .dropdown:hover>.dropdown-menu.show {
        display: block;
        background: rgba(0,0,0,.85) !important;
        width: 100%;
    }
    header .navbar .navbar-brand {
        align-self: flex-start;
        overflow: visible;
        width: 200px;
        height: auto;
        margin-right: auto;
    }
    #home-1 img {
        width: 100%;
        height: auto;
    }
    #home-1 {
        height: auto;
    }
}

